* {
    box-sizing: border-box;
  }
  
  :focus {
   /* TODO */
  }
  
  body {
    /* TODO */
  }
  
  input {
    
    left: 30%;
    margin-bottom: 30%;
  }
  
  .search-container {
   /* position: relative; */
   
  }
  .search-container input,
  .search-container .suggestions {
    /* TODO */
  }
  .search-container input {
    position: relative;
  }
  .search-container .suggestions {
    position: absolute;
  }
  ul {
    /* TODO */
  }
  ul.has-suggestions {
    /* TODO */
  }
  ul li {
    /* TODO */
  }
  ul li:hover {
    /* TODO */
  }
  
  input {
  
    margin-bottom: 30%;
  }