* {
    box-sizing: border-box;
  }
  
  :focus {
   /* TODO */
   outline: none;
  }
  
  body {
    background: linear-gradient(to right,#ff7b00, #FFFF00);
  }
  
  input {
   padding: 6px;
   width: 300px;
   /* position: relative; */
  }
  
  .search-container {
  height: 100%;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  /* margin: auto;
  width: 50%; */
   
  }

  .search-container input,
  .search-container .suggestions {

    /* align-items: center; */
    
  }

  .search-container input {
   background: linear-gradient(to left,#FFA500, #FFFF00);
   
  }

  .search-container .suggestions {
    position: absolute;
    top: 20px;
  }

  ul {
   list-style-type: none;
   
  }
  ul.has-suggestions {
    /* This is the class list youre supposed to add to make bold the text to macth the input value and results */
    font-weight: bold;
  
  }
  ul li {
  border: 1px solid ;
  padding: 6px;
  width: 300px;
  /* margin-right: 40px ; */
   
    
    
  }
  ul li:hover {
    background-color: rgba(165, 130, 55, 0.904);
  }
  
  input {
  
  }